/*
 * ------------------------------------------------------------------
 *  Nextflow config file for the NME and Babraham Institute pipelines
 * ------------------------------------------------------------------
 */

process {

	executor      = 'lsf'
	
	scratch       = 'true'	
	queue         = 'normal.4h'
	memory        = 5.GB
	cpus          = 1

	errorStrategy = { sleep(Math.pow(2, task.attempt) * 30 as long); return 'retry' }
  	maxRetries    = 3
	


	withLabel: bismark {
	cpus   = 8
	memory = { 20.GB * task.attempt }
	//queue = 'normal.24h'
	}
	
	withLabel: bowtie2 {
        cpus   = 8
        memory = { 20.GB * task.attempt }
        //queue = 'normal.24h'
    }

	withLabel: hisat2 {
        cpus   = 8
        memory = { 20.GB * task.attempt }
        //queue = 'normal.24h'
	}
	
	withLabel: bismarkDeduplication {
		cpus       = 1
		memory     = { 20.GB * task.attempt }
    	maxRetries = 5
	}
	
	withLabel: BismarkMethylationExtractor {
		cpus   = 4
		memory = { 20.GB * task.attempt }
	}
	
	withLabel: coverage2Cytosine {
		memory     = { 20.GB * task.attempt }
		maxRetries = 5
	}
	
	withLabel: fastqScreen {
		cpus   = 8
		memory = { 30.GB * task.attempt }
	}
	
	withLabel: trimGalore {
		cpus       = 4
        memory     = { 10.GB * task.attempt }
		maxRetries = 2
	}	
	
	withLabel: multiQC {
		cpus   = 4
		memory = { 20.GB * task.attempt }
	}

	withLabel: samtools {
		memory = { 20.GB * task.attempt }
	}

	withLabel: bedtools {
		memory = { 20.GB * task.attempt }
	}

}

notification {
    enabled = false
    to = "${USER}@ethz.ch"
}

timeline {
    enabled = true
    file = "execution_timeline.html"
}

report {
    enabled = true
    file = "execution_report.html"
}

trace {
   enabled = false
    file = "execution_trace.txt"
}

dag {
   enabled = false
   file = "pipeline_dag.svg"
 }

tower {
  accessToken = '656c51ffb8248867eafaf8e40d0ae59fcac31caf'
  enabled = false
}
