/*
 * ------------------------------------------------------------------
 *  Nextflow config file for the NME and Babraham Institute pipelines
 * ------------------------------------------------------------------
 */

process {

	executor      = 'lsf'
	scratch       = 'true'	
	queue         = 'normal.4h'
	memory        = 5.GB
	cpus          = 1

	errorStrategy = { sleep(Math.pow(2, task.attempt) * 30 as long); return 'retry' }
  	maxRetries    = 3

	withLabel: bismark {
		cpus   = 12
		memory = { 20.GB * task.attempt }
		queue  = { task.attempt > 2 ? 'normal.120h' : task.attempt > 1 ? 'normal.120h' : 'normal.120h' }
	}
	
	withLabel: bowtie2 {
        cpus   = 8
        memory = { 20.GB * task.attempt }
        queue  = { task.attempt > 2 ? 'normal.120h' : task.attempt > 1 ? 'normal.24h' : 'normal.4h' }
    }

	withLabel: hisat2 {
        cpus   = 8
        memory = { 20.GB * task.attempt }
        queue  = { task.attempt > 2 ? 'normal.120h' : task.attempt > 1 ? 'normal.24h' : 'normal.4h' }
	}
	
	withLabel: bismarkDeduplication {
		cpus       = 1
		memory     = { 20.GB * task.attempt }
    	maxRetries = 5
	}
	
	withLabel: BismarkMethylationExtractor {
		cpus   = 4
		memory = { 20.GB * task.attempt }
	}

	withLabel: bismark2bedGraph {
		memory     = { 20.GB * task.attempt }
		maxRetries = 5
	}
	
	withLabel: coverage2Cytosine {
		memory     = { 20.GB * task.attempt }
		maxRetries = 5
	}
	
	withLabel: fastqScreen {
		cpus   = 8
		memory = { 30.GB * task.attempt }
	}
	
	withLabel: trimGalore {
		cpus       = 4
        memory     = { 10.GB * task.attempt }
		maxRetries = 2
	}	
	
	withLabel: multiQC {
		cpus   = 4
		memory = { 20.GB * task.attempt }
	}

	withLabel: samtools {
		memory = { 20.GB * task.attempt }
	}
	
	withLabel: picard {
		memory = { 40.GB * task.attempt }
	}

  	withLabel: featureCounts {
    	cpus = 6
    	memory = { 36.GB * task.attempt }
  	}

}


notification {
	enabled = false
	to 		= "${USER}@ethz.ch"
}

timeline {
	enabled = true
	file 	= "results/pipeline_info/execution_timeline.html"
}

report {
	enabled = true
	file 	= "results/pipeline_info/execution_report.html"
}

trace {
	enabled = true
	file 	= "results/pipeline_info/execution_trace.txt"
}

dag {
	enabled = false
	file 	= "results/pipeline_info/pipeline_dag.svg"
 }
 
//tower {
//	accessToken = "${TOWER_ACCESS_TOKEN}"
//	enabled     = false
//}
